accelerate==0.15.0
aiohttp==3.8.3
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
babel==2.11.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.11.1
black==22.10.0
bleach==5.0.1
brotlipy==0.7.0
bwatchcompute==0.1.0
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
comm==0.1.2
commonmark==0.9.1
conda-package-handling==1.9.0
conda==22.9.0
cryptography==38.0.4
dataclasses==0.8
datasets==2.7.1
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
docker-pycreds==0.4.0
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.8.2
fire==0.5.0
flit-core==3.8.0
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
gazpacho==1.1
gitdb==4.0.9
gitpython==3.1.29
google-api-core==2.10.2
google-api-python-client==2.66.0
google-auth-httplib2==0.1.0
google-auth==2.14.1
google-cloud-core==2.3.2
google-cloud-storage==2.6.0
google-crc32c==1.1.2
google-resumable-media==2.4.0
googleapis-common-protos==1.57.0
grpcio==1.51.1
httplib2==0.21.0
huggingface-hub==0.11.1
hydra-core==1.3.0
hydra-zen==0.8.0
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.10.1
ipykernel==6.19.2
ipython-genutils==0.2.0
ipython==8.7.0
jedi==0.18.2
jinja2==3.1.2
joblib==1.2.0
json5==0.9.5
jsonschema==4.17.3
jupyter-client==7.4.8
jupyter-core==5.1.0
jupyter-events==0.5.0
jupyter-server-terminals==0.4.2
jupyter-server==2.0.1
jupyterlab-pygments==0.2.2
jupyterlab-server==2.16.5
jupyterlab==3.5.1
libmambapy==1.1.0
mamba==1.1.0
markupsafe==2.1.1
matplotlib-inline==0.1.6
mistune==2.0.4
mlproject==1.0
multidict==6.0.2
multiprocess==0.70.14
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
notebook-shim==0.2.2
notebook==6.5.2
numpy==1.23.5
nvidia-ml-py==11.515.75
nvitop==0.11.0
omegaconf==2.3.0
packaging==21.3
pandas==1.5.2
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.10.3
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.2.0
pip==22.3.1
pkgutil-resolve-name==1.3.10
platformdirs==2.6.0
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.36
protobuf==4.21.11
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1-modules==0.2.7
pyasn1==0.4.8
pycosat==0.6.4
pycparser==2.21
pygments==2.13.0
pyopenssl==22.1.0
pyparsing==3.0.9
pyrsistent==0.19.2
pysocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-json-logger==2.0.1
pytz==2022.6
pyu2f==0.1.5
pyyaml==6.0
pyzmq==24.0.1
quote==2.0.4
randomname==0.1.5
regex==2022.10.31
requests==2.28.1
responses==0.18.0
rich==12.6.0
rsa==4.9
ruamel-yaml-conda==0.15.80
sacremoses==0.0.53
send2trash==1.8.0
sentry-sdk==1.11.0
setproctitle==1.3.2
setuptools==65.5.1
shortuuid==1.0.11
six==1.16.0
smmap==3.0.5
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.6.2
tabulate==0.9.0
termcolor==2.1.1
terminado==0.17.1
timm==0.6.12
tinycss2==1.2.1
tokenizers==0.13.1
tomli==2.0.1
toolz==0.12.0
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tornado==6.2
tqdm==4.64.1
traitlets==5.7.0
transformers==4.24.0
typing-extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.11
wandb==0.13.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
wheel==0.38.4
xxhash==0.0.0
yarl==1.8.1
zipp==3.10.0